language: R
sudo: false
cache:                          # optional
  packages: true                # optional
  directories:
  - $HOME/.npm  # optional
pandoc_version: 2.3.1

before_install:
  - nvm install stable
  - npm install netlify-cli -g
  - export DEPLOY_MSG="${TRAVIS_COMMIT:0:7} ${TRAVIS_COMMIT_MESSAGE:0:70}"
  - mkdir -p tmp/kindlegen
  - wget -O - http://kindlegen.s3.amazonaws.com/kindlegen_linux_2.6_i386_v2_9.tar.gz | tar xz --directory=tmp/kindlegen
  - tlmgr install index


env:
  - NETLIFY_SITE_ID=d875cc57-4232-44f4-8c88-5a0a5c24abc4
  # NETLIFY_AUTH_TOKEN set in travis settings

script:
- Rscript -e 'bookdown::render_book("index.Rmd", "bookdown::gitbook")'
- Rscript -e 'bookdown::render_book("index.Rmd", "bookdown::epub_book")'
- Rscript -e 'bookdown::kindlegen(exec="tmp/kindlegen/kindlegen")'  
# - Rscript -e 'bookdown::render_book("index.Rmd", "bookdown::pdf_document2")'

deploy:
  - provider: script
    script: netlify deploy --dir _book -s $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN --prod --message "$DEPLOY_MSG"
    skip_cleanup: true
    on:
      branch: master
